@model StockNet.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "修改密码";
}
<div class="block clearfix">
    <div id="articleLeft" class="fl">

        <h1 class="mod2tit" style=" background: red; ">会员中心</h1><div class="mod1 mod2 blank" id="historybox">
            <span class="lt"></span><span class="lb"></span><span class="rt"></span><span class="rb"></span>
            @Html.Partial("_MemberLink")
        </div>
    </div>
    <div id="articleRight" class="fr">
        <div class="ur_here blank">
            当前位置: <a href="/">首页</a> <code>&gt;</code> 修改密码
        </div>
        <div class="articleBox">
            @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="修改密码" class="btn btn-default" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}