@* 
 This partial controls the top menu of the AdminLTE Template, being called automatically by _AdminLteLayout
    TODO: All of the content in here is stand-in that must be replaced by the real behavior of your app
*@
@using StockNet.Helpers
@{
    ViewBag.Layout = null;
}

<header class="main-header">
    <!-- Logo -->
    <a href="~/Admin/" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini">管理</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg">@(ViewBag.Settings == null ? "中国尾库网管理系统" : ViewBag.Settings.fs_sitename)</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">              

                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">                        
                        <span class="hidden-xs"><i class="fa fa-user"></i> @IdentityHelper.GetDisplayName(User.Identity)</span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            <img src="@(IdentityHelper.GetSex(User.Identity) ? "/Content/AdminLTE/img/avatar3.png" : "/Content/AdminLTE/img/avatar5.png")" class="img-circle" alt="User Image" />
                            <p>
                                @IdentityHelper.GetDisplayName(User.Identity) - @IdentityHelper.GetRoleName(User.Identity)
                            </p>
                        </li>
                        <!-- Menu Body -->
                        <li class="user-body">
                            <div class="col-xs-4 text-center">
                                <a href="/">前台网站</a>
                            </div>
                            <div class="col-xs-4 text-center">
                                <a href="/Admin/Stock">查看库存</a>
                            </div>
                            <div class="col-xs-4 text-center">
                                <a href="/Admin/Setting">系统设置</a>
                            </div>
                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="~/Admin/User/ChangePassword" class="btn btn-default btn-flat">修改密码</a>
                            </div>
                            <div class="pull-right">
                            @if (Request.IsAuthenticated)
                            { 
                                using (Html.BeginForm("LogOff", "Login",new{area="Admin"}, FormMethod.Post, new {id = "logoutForm" }))
                                {
                                    @Html.AntiForgeryToken()<a class="btn btn-default btn-flat" href="javascript:document.getElementById('logoutForm').submit()">退出</a>
                                }
                            }
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>